body {
	background-color: #f2f2f2;
}

.card {
	border: none;
}

.btn-primary {
	background-color: #007bff;
	border: none;
}

.btn-primary:hover {
	background-color: #0069d9;
}

.form-control {
	border: none;
	border-bottom: 1px solid #ccc;
}

.form-control:focus {
	box-shadow: none;
	border-bottom: 1px solid #007bff;
}
